
html, body {
    width: 100vw;
    height: 100vh;

    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-start;
    align-items: center;

    background: rgb(235, 245, 255);

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#dock {
    width: 100vw;
    height: 45px;

    border-radius: 22.5px 22.5px 0 0;

    background: rgb(186, 214, 249);

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    -webkit-user-select: none;
}

#leftPart {
    width: 100%;
    height: 100%;
}

#apps {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    gap: 15px;
}

.app {
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: relative;
}

.icon {
    height: 75%;
    width: auto;
    
    z-index: 1;
    
    -webkit-user-drag: none;
}

.icon:active {
    filter: brightness(.7);
}

.shadow {
    height: 75%;
    width: auto;

    aspect-ratio: 1;

    border-radius: 100%;

    background: transparent;

    position: absolute;

    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}

#rightPart {
    width: 100%;
    height: 100%;
    
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

#status {
    height: 75%;

    margin-right: 5.75px;

    padding-left: 10px;
    padding-right: 10px;

    border-radius: 100vw;

    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;

    font-size: 85%;
    font-weight: bold;

    color: rgb(31, 61, 97);
    background:rgb(150, 183, 223);
}

#status:active {
    background:rgb(111, 146, 188);
}

.titleBar {
    width: 850px;
    height: 30px;

    border-radius: 10px 10px 0 0;

    /* background: rgb(209, 209, 209); */
    background: hsl(209, 68%, 86%);
}

